%a{ href: '/services/customer-experience', class: 'list-group-item' }
  .heading
    %h3.list-group-item-heading Customer experience
    %p (CX) is the sum of all experiences a customer has with a business.
  .meta
    %small 20 companies
    %small 200 profiles