#main {
  margin-top: 60px;
}

.list-group-item .meta {
  text-align: right;
  margin-top: -30px;
}

.btn-vote {
  padding: 5px 10px 5px 5px;
}

.btn-100 {
  width: 100%;
}

.show-card {
  padding: 10px;

  h1 {
    margin-top: 0;
  }

  form {
    margin-top: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
    }
  }
}

.service {
  .title {
    padding: 10px;
    margin: -10px;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  .accordion {
    margin-top: 15px;
  }
}

a.linkedin {
  width: 100%;
}