.show-card.row
  .col-xs-3
    %img{ 'data-src' => 'holder.js/100%x150/auto', class: 'responsive-img' }
  .col-xs-9
    %h1= @name
    %p
      Head of CX @
      %a Holler
    %ul
      %li
        %a
          %small LinkedIn
        |
      %li
        %a
          %small Twitter

.container
  %h3 Your companies
  .list-group
    - 3.times do
      = partial 'companies/item'