%a{ href: '/companies/1/holler', class: 'list-group-item' }
  .heading
    %h3.list-group-item-heading
      %span{ class: 'label label-default' } 8
      Holler
    %p We solve business problems by provoking big reactions from simple interactions.
  .meta
    %small
      %span.badge Customer experience
    %small
      %span.badge Digital
    %small
      %span.badge Ideation