%h1 Add your company

%p To add or find your company simply sign in with LinkedIn

/ %a{ href: '/profiles/1/vlad-mehakovic', class: 'btn btn-primary linkedin' } Sign in with LinkedIn
%a{ href: '/auth', class: 'btn btn-primary linkedin' } Sign in with LinkedIn