%h1 Home

.list-group
  - 3.times do
    %a{ href: '/services/customer-experience', class: 'list-group-item' }
      .heading
        %h3.list-group-item-heading Customer experience
        %p (CX) is the sum of all experiences a customer has with a business.
      .meta
        %small 20 agencies
        %small 200 staff